@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide scrollbar by default */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden; /* Hide horizontal scrollbar in all browsers */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  height: 0; /* Hide horizontal scrollbar height */
}


/* Hide horizontal scrollbar even on hover */
.hide-scrollbar:hover::-webkit-scrollbar:horizontal {
  display: none;
}

.hide-scrollbar:hover::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 8px;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 8px;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
input::placeholder {
  color: #9da0a5;
}

/* Fix for the scaling items exceeding container */
.transform-safe {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.custom-rounded-tr-tl{
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.custom-rounded{
  border-radius: 30px;
}


.task-form-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.task-form-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.task-form-exit {
  transform: translateY(0);
  opacity: 1;
}

.task-form-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transition-sidenav{
  transition: width 1s ease-in-out,;
  transition-property: width;
  transition-duration: 5s;
  transition-delay: 2s;
}

